.category-card {
  max-width: 300px;
  margin: 1em;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.category-content {
  padding: 1em;
  text-align: center;
}

.category-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.category-description {
  color: #555;
}

@media (max-width: 768px) {
  .category-card {
      max-width: 100%;
  }
}
