.hero-image{
    width: 100%;
}
.hero{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/flat-lay-vegetables-white-background-food-diet-concept.jpg");
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-wrapper > *{
    margin-left: 15px;
    text-align: center;
    max-width: 100%;
    display: none;
}
h1{
    background-color: rgba(255,255,255,.5);
    padding: 10px;
    color: black;
    font-weight: bold;
}

.hero > img{
    height: 12vh;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,.7);
    padding: 2px;
    max-width: 80vw;
}

@media screen and (max-width: 768px){
    .hero{
        height: 40vh;
    }
    .hero > img{
        height: 8vh;
    }
    h1{
        font-size: 1.5em;
    }
    
    
}