.product-card {
    max-width: 300px;
    margin: 1em;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  
  .product-content {
    padding: 1em;
    text-align: center;
  }
  
  .product-name {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .product-description {
    color: #555;
  }
  
  @media (max-width: 768px) {
    .product-card {
        max-width: 100%;
    }
  }
  